/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require rails_emoji_picker
 *= require_self
 */

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.chat__main--wrapper {
  .chat__main--sub-section {
    width: 50%;
    float: left;
  }
  
  .chat__contact--panel {
    .chat__contact--element {
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
      border: 3px solid grey;
      cursor: pointer;
    }
    
    .is-active { 
      background: grey;
    }
    
    .is-new-message {
      border: 1px solid red;
    }
  }
  
  .chat__message--panel {
    
  }
}